@model IEnumerable<BoardGameNetProject_v3.Models.UserGame>

@{
    ViewData["Title"] = "Index";
}

<h1>Game List</h1>

<p>
    <a asp-action="Add">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.boardGameVm.Title)
            </th>
            <th>
                Rate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.boardGameVm.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_rate)
            </td>
            <td>
                <a asp-action="Rate" asp-route-id="@item.Id">Rate</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    
    </tbody>
    
</table>
